@font-face {
    font-family: "Gill Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/GillSans-UltraBold.otf") format("opentype");
    src: local("☺"),
        url("../fonts/GillSans-UltraBold.woff") format("woff"),
        url("../fonts/GillSans-UltraBold.ttf") format("truetype"),
        url("../fonts/GillSans-UltraBold.eot") format("eot");
}

