@font-face {
    font-family: "BasisGrotesque";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/BasisGrotesquePro.otf") format("opentype");
    src: local("☺"),
        url("../fonts/BasisGrotesquePro.woff") format("woff"),
        url("../fonts/BasisGrotesquePro.ttf") format("truetype"),
        url("../fonts/BasisGrotesquePro.eot") format("eot");
}