@keyframes curtain {
    0% {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  
    35% {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  
    55% {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  @keyframes slideDownBar {
    0% {
      top: -10rem;
    }
  
    100% {
      top: 0;
    }
  }
  
  @keyframes slideUpFadeIn {
    0% {
      /* -webkit-transform: translateY(5rem);
      -moz-transform: translateY(5rem);
      -o-transform: translateY(5rem);
      transform: translateY(5rem); */
      opacity: 0;
    }
  
    100% {
      /* -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); */
      opacity: 1;
    }
  }